name: Artifacts

on: 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  PACKAGE_RELEASE: ${{ github.run_number }}
  MAINTAINER: "${{ vars.MAINTAINER }}"
  HOMEPAGE: "${{ github.server_url }}/${{ github.repository }}"

jobs:
  ubuntu:
    name: Ubuntu packages
    runs-on: ubuntu-latest
    container: debian:13
    env:
      TARGET_OS: debian-trixie
      TARGET_ARCH: x64
      DEPENDENCIES: "build-essential cmake curl debhelper devscripts fakeroot pkg-config libssl-dev libboost-system-dev libboost-program-options-dev libboost-test-dev"
      TUBUS_LIB_PACKAGE: ${{ vars.TUBUS_LIB_DEB_PACKAGE }}
      TUBUS_DEV_PACKAGE: ${{ vars.TUBUS_DEV_DEB_PACKAGE }}

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y ${{ env.DEPENDENCIES }}
          curl -sL -o /tmp/libtubus.deb ${{ env.TUBUS_LIB_PACKAGE }} && apt-get install -y /tmp/libtubus.deb
          curl -sL -o /tmp/libtubus-dev.deb ${{ env.TUBUS_DEV_PACKAGE }} && apt-get install -y /tmp/libtubus-dev.deb

      - name: Build static
        run: |
          cmake --preset static-relwithdebinfo \
            -DCPACK_PACKAGE_RELEASE=${{ env.PACKAGE_RELEASE }} \
            -DCPACK_DEBIAN_PACKAGE_MAINTAINER="${{ env.MAINTAINER }}" \
            -DCPACK_DEBIAN_PACKAGE_HOMEPAGE="${{ env.HOMEPAGE }}"
          cmake --build --preset static-relwithdebinfo --target all
          ctest --preset static-relwithdebinfo

      - name: Build shared
        run: |
          cmake --preset shared-relwithdebinfo \
            -DCPACK_PACKAGE_RELEASE=${{ env.PACKAGE_RELEASE }} \
            -DCPACK_DEBIAN_PACKAGE_MAINTAINER="${{ env.MAINTAINER }}" \
            -DCPACK_DEBIAN_PACKAGE_HOMEPAGE="${{ env.HOMEPAGE }}"
          cmake --build --preset shared-relwithdebinfo --target all
          ctest --preset shared-relwithdebinfo

      - name: Build packages
        run: |
          cpack --preset debian-package-bin
          cpack --preset debian-package-lib
          cpack --preset debian-package-dev 

      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-packages
          path: |
            out/${{ env.TARGET_OS }}/${{ env.TARGET_ARCH }}/build/*.deb
            out/${{ env.TARGET_OS }}/${{ env.TARGET_ARCH }}/build/*.ddeb
          retention-days: 7

  fedora:
    name: Fedora packages
    runs-on: ubuntu-latest
    container: fedora:42
    env:
      TARGET_OS: fedora-42
      TARGET_ARCH: x64
      DEPENDENCIES: "clang clang-tools-extra cmake curl rpmdevtools boost-devel boost-static"
      TUBUS_LIB_PACKAGE: ${{ vars.TUBUS_LIB_RPM_PACKAGE }}
      TUBUS_DEV_PACKAGE: ${{ vars.TUBUS_DEV_RPM_PACKAGE }}

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          dnf -y --setopt=tsflags=nodocs install ${{ env.DEPENDENCIES }}
          curl -sL -o /tmp/libtubus.rpm ${{ env.TUBUS_LIB_PACKAGE }} && dnf -y install /tmp/libtubus.rpm
          curl -sL -o /tmp/libtubus-devel.rpm ${{ env.TUBUS_DEV_PACKAGE }} && dnf -y install /tmp/libtubus-devel.rpm

      - name: Build static
        run: |
          cmake --preset static-relwithdebinfo \
            -DCPACK_PACKAGE_RELEASE=${{ env.PACKAGE_RELEASE }} \
            -DCPACK_RPM_PACKAGE_VENDOR="${{ env.MAINTAINER }}" \
            -DCPACK_RPM_PACKAGE_URL="${{ env.HOMEPAGE }}"
          cmake --build --preset static-relwithdebinfo --target all
          ctest --preset static-relwithdebinfo

      - name: Build shared
        run: |
          cmake --preset shared-relwithdebinfo \
            -DCPACK_PACKAGE_RELEASE=${{ env.PACKAGE_RELEASE }} \
            -DCPACK_RPM_PACKAGE_VENDOR="${{ env.MAINTAINER }}" \
            -DCPACK_RPM_PACKAGE_URL="${{ env.HOMEPAGE }}"
          cmake --build --preset shared-relwithdebinfo --target all
          ctest --preset shared-relwithdebinfo

      - name: Build packages
        run: |
          cpack --preset rpm-package-bin
          cpack --preset rpm-package-lib
          cpack --preset rpm-package-dev

      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: fedora-packages
          path: |
            out/${{ env.TARGET_OS }}/${{ env.TARGET_ARCH }}/build/*.rpm
          retention-days: 7

  windows:
    name: Windows archive
    runs-on: windows-latest
    env:
      TARGET_OS: windows
      TARGET_ARCH: x64
      VCPKG_TOOLCHAIN_FILE: "C:\\vcpkg\\scripts\\buildsystems\\vcpkg.cmake"
      TUBUS_ARCHIVE: ${{ vars.TUBUS_WINDOWS_ARCHIVE }}

    steps:
      - uses: actions/checkout@v4

      - name: Cache vcpkg dependencies
        uses: actions/cache@v4
        id: cache-vcpkg
        with:
          path: out\${{ env.TARGET_OS }}\${{ env.TARGET_ARCH }}\build\*\vcpkg_installed
          key: ${{ runner.os }}-vcpkg-${{ env.TARGET_ARCH }}-${{ hashFiles('**/vcpkg.json', '**/vcpkg-configuration.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-${{ env.TARGET_ARCH }}-${{ hashFiles('**/vcpkg.json', '**/vcpkg-configuration.json') }}
            ${{ runner.os }}-vcpkg-${{ env.TARGET_ARCH }}-

      - name: Install dependencies
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Path C:\tmp -Force
          Invoke-WebRequest -Uri ${{ env.TUBUS_ARCHIVE }} -OutFile C:\tmp\tubus.zip
          Expand-Archive -Path C:\tmp\tubus.zip -DestinationPath "${{ github.workspace }}\out\${{ env.TARGET_OS }}\${{ env.TARGET_ARCH }}\install"

      - name: Build static
        shell: pwsh
        run: |
          cmake --preset static-relwithdebinfo `
            -DCPACK_PACKAGE_RELEASE=${{ env.PACKAGE_RELEASE }} `
            -DVCPKG_TARGET_TRIPLET=${{ env.TARGET_ARCH }}-windows-static `
            -DCMAKE_TOOLCHAIN_FILE="${{ env.VCPKG_TOOLCHAIN_FILE }}"
          cmake --build --preset static-relwithdebinfo --target ALL_BUILD
          ctest --preset static-relwithdebinfo

      - name: Build shared
        shell: pwsh
        run: |
          cmake --preset shared-relwithdebinfo `
            -DCPACK_PACKAGE_RELEASE=${{ env.PACKAGE_RELEASE }} `
            -DVCPKG_TARGET_TRIPLET=${{ env.TARGET_ARCH }}-windows `
            -DCMAKE_TOOLCHAIN_FILE="${{ env.VCPKG_TOOLCHAIN_FILE }}"
          cmake --build --preset shared-relwithdebinfo --target ALL_BUILD
          ctest --preset shared-relwithdebinfo

      - name: Build archive
        run: |
          cpack --preset archive

      - name: Upload archive
        uses: actions/upload-artifact@v4
        with:
          name: windows-archive
          path: |
            out\\${{ env.TARGET_OS }}\\${{ env.TARGET_ARCH }}\\build\\*.zip
          retention-days: 7

  macos:
    name: MacOS archive
    runs-on: macos-latest
    env:
      TARGET_OS: darwin
      TARGET_ARCH: arm64
      VCPKG_ROOT: ${{ github.workspace }}/vcpkg
      VCPKG_TOOLCHAIN_FILE: ${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake
      VCPKG_FORCE_SYSTEM_BINARIES: 1
      TUBUS_ARCHIVE: ${{ vars.TUBUS_DARWIN_ARCHIVE }}

    steps:
      - uses: actions/checkout@v4

      - name: Install vcpkg
        run: |
          git clone https://github.com/Microsoft/vcpkg.git $VCPKG_ROOT
          $VCPKG_ROOT/bootstrap-vcpkg.sh

      - name: Cache vcpkg dependencies
        uses: actions/cache@v4
        id: cache-vcpkg
        with:
          path: out/${{ env.TARGET_OS }}/${{ env.TARGET_ARCH }}/build/*/vcpkg_installed
          key: ${{ runner.os }}-vcpkg-${{ env.TARGET_ARCH }}-${{ hashFiles('**/vcpkg.json', '**/vcpkg-configuration.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-${{ env.TARGET_ARCH }}-${{ hashFiles('**/vcpkg.json', '**/vcpkg-configuration.json') }}
            ${{ runner.os }}-vcpkg-${{ env.TARGET_ARCH }}-

      - name: Install dependencies
        run: |
          curl -sL -o /tmp/tubus.zip ${{ env.TUBUS_ARCHIVE }} && unzip /tmp/tubus.zip -d "${{ github.workspace }}/out/${{ env.TARGET_OS }}/${{ env.TARGET_ARCH }}/install"

      - name: Build static
        run: |
          cmake --preset static-relwithdebinfo \
            -DCPACK_PACKAGE_RELEASE=${{ env.PACKAGE_RELEASE }} \
            -DVCPKG_TARGET_TRIPLET=${{ env.TARGET_ARCH }}-osx \
            -DCMAKE_TOOLCHAIN_FILE="${{ env.VCPKG_TOOLCHAIN_FILE }}"
          cmake --build --preset static-relwithdebinfo --target all
          ctest --preset static-relwithdebinfo

      - name: Build shared
        run: |
          cmake --preset shared-relwithdebinfo \
            -DCPACK_PACKAGE_RELEASE=${{ env.PACKAGE_RELEASE }}  \
            -DVCPKG_TARGET_TRIPLET=${{ env.TARGET_ARCH }}-osx-dynamic \
            -DCMAKE_TOOLCHAIN_FILE="${{ env.VCPKG_TOOLCHAIN_FILE }}"
          cmake --build --preset shared-relwithdebinfo --target all
          ctest --preset shared-relwithdebinfo

      - name: Build archive
        run: |
          cpack --preset archive

      - name: Upload archive
        uses: actions/upload-artifact@v4
        with:
          name: macos-archive
          path: |
            out/${{ env.TARGET_OS }}/${{ env.TARGET_ARCH }}/build/*.zip
          retention-days: 7
